@import "variables";
@import "trip_styles";

@mixin adminDisplay() {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  padding: 10px;
  overflow-y: auto;
  @include tripStyles;

  .admin-header {
    border: 2px solid $pink;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  main {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
    padding: 10px;
    overflow-y: auto;
    @include tripStyles;
  }
}