// DOCUMENT

$font: 'Courier New', Courier, monospace;

// MIXINS
@mixin gridDisplay($columns, $rows) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
};

@mixin flexDisplay($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
};

@mixin boxStyles() {
  background-color: $darker-purple;
  border: $grid-border;
}

// COLORS
$darker-purple: #120f21;

$dark-purple: #4d3aa0;

$pink: #FF6EBD;

$purple: #AE46D2;

$blue: #137BED;

$lightblue: #02C9FE;

$grid-border: 2px solid $pink;

