// DOCUMENT

$font: BlenderProBold, sans-serif;

// MIXINS
@mixin gridDisplay($columns, $rows) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
};

@mixin flexDisplay($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
};

@mixin boxStyles() {
  background-color: $darker-purple;
  border: $grid-border;
}

// COLORS
$darker-purple: #191449;

$dark-purple: #3D0E53;

$pink: #D61289;

$purple: #B05CB4;

$blue: #2B7FB5;

$lightblue: #18F5FE;

$grid-border: 2px solid $pink;

