/* This is an example of using Sass, otherwise plain CSS works too*/
@import "variables";
@import "nav_styles";
@import "trip_styles";
@import "modal_styles";
@import "admin_display";

body {
  @include gridDisplay(2fr 8fr 2fr, 2fr 9fr 1fr);
  grid-gap: 10px;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  background: linear-gradient(to bottom right, $black, $darker-purple);
  font-family: $font;
  font-style: italic;
  font-weight: 700;
  font-size: 14px; 
  color: $darker-purple;
}

.login-display {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 5px solid $light-blue;
  box-shadow: 0 0 30px $yellow inset;
  background: $purple;
  @include flexDisplay(column, space-evenly, center);
  @include grow;

  .login-button {
    @include buttonStyles;
  }
}

.traveler-header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  @include headerFooterStyles;
  box-shadow: 0px 0px 5px 2px $yellow;
  padding: 10px;

  h1 {
    color: $light-blue;
  }
}

.traveler-nav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  @include sideStyles;
  @include flexDisplay(column, flex-start, center);
  @include navStyles;

  label {
    margin-top: 2rem;
  }
}

.traveler-main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: linear-gradient(to bottom, $dark-purple, $darker-purple);
  border: $grid-border;
  margin: 3px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  padding: 10px;
  overflow-y: auto;
  @include tripStyles;
  
}

@include scrollbar;


.traveler-aside {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  @include flexDisplay(column, flex-start, center);
  @include sideStyles;

  .title {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .value {
    margin-top: 0;
  }

}

.traveler-footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  @include headerFooterStyles;
}

.traveler-modal {
  @include modalStyles;
}

.admin-display {
  @include adminDisplay;
}

