/* This is an example of using Sass, otherwise plain CSS works too*/
@import "variables";

body {
  @include gridDisplay(2fr 8fr 2fr, 1fr 10fr 1fr);
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  background: linear-gradient(to bottom right, $darker-purple, $darker-purple,  $dark-purple);
  font-family: $font;
  color: pink;
}

header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  @include boxStyles();
}

nav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  @include boxStyles();
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  @include boxStyles();
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

aside {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  @include boxStyles();
}

footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  @include boxStyles();
}

